* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: .14rem;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    background: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    width: 100%;
    height: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    ul {
        width: 100%;
        height: .5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav {
        width: 100%;
        ul {
            width: 100%;
            height: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                width: 100%;
                height: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                i.icon {
                    width: .5rem;
                    height: .5rem;
                    border: 1px solid #ddd;
                    font-size: .2rem;
                    text-align: center;
                    line-height: .5rem;
                    color: rgb(59, 56, 56);
                    border-radius: 50%;
                    background: #eee;
                }
                span {
                    color: rgb(59, 56, 56);
                    margin-top: .05rem;
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
    .big {
        border: 1px solid #ccc;
        padding: .1rem .3rem;
        border-radius: .15rem;
        background: #eee;
    }
    .lit {
        border: 1px solid #ccc;
        padding: .1rem .1rem;
        border-radius: 50%;
        background: #eee;
    }
}

.section {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width: 100%;
        height: 100%;
        p {
            width: 100%;
            height: 100%;
        }
    }
}

.nav {
    color: skyblue;
}