* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  width: 100%;
  height: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.header ul {
  width: 100%;
  height: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header nav {
  width: 100%;
}

.header nav ul {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header nav ul li {
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header nav ul li i.icon {
  width: .5rem;
  height: .5rem;
  border: 1px solid #ddd;
  font-size: .2rem;
  text-align: center;
  line-height: .5rem;
  color: #3b3838;
  border-radius: 50%;
  background: #eee;
}

.header nav ul li span {
  color: #3b3838;
  margin-top: .05rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
}

.footer .big {
  border: 1px solid #ccc;
  padding: .1rem .3rem;
  border-radius: .15rem;
  background: #eee;
}

.footer .lit {
  border: 1px solid #ccc;
  padding: .1rem .1rem;
  border-radius: 50%;
  background: #eee;
}

.section {
  width: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section .swiper-container {
  width: 100%;
  height: 100%;
}

.section .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.section .swiper-slide {
  width: 100%;
  height: 100%;
}

.section .swiper-slide p {
  width: 100%;
  height: 100%;
}

.nav {
  color: skyblue;
}
